<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= link_to "New post", new_post_path %>
<div class="post-container" id="posts">
  <% @posts.reverse_each do |post| %>
  <div class="post">
    <% if user_signed_in? %>
      <p class="author"><%= post.user.username %>:</p>
    <% end %>
    <p class="post-content"><%= post.title %></p>
    <p class="post-content"><%= post.body %></p>
  </div>
  <% end %>
</div>
